h1 {
    text-align: center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin-left: 535px;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: 335px;
    margin-right: 0px;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: 0px;
}

li {
    display: inline-block;
   
}

.award {
    text-align: center;
}
.spacing{
    margin-left: 330px;
}