<!-- events/templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  Primeiro Template
{% endblock %}

{% block content %}
    <h1> Eventos {{ company }} </h1>
   {% for event in events %}
       <a href="{% url 'details-page' event.id %}"> 
           <div class="container">
             <h3> {{ event.title }} </h3>
             <p> {{ event.date }} </p>
             <p> {{ event.location }} </p>
             {% if event.image %}
               <img src="{% static event.image.url %}" alt="Imagem sobre o evento" height="50">
             {% endif %}
           </div>
       </a>
   {% empty %}
       <p> Não existem eventos cadastrados </p>
   {% endfor %}
{% endblock %}