h1, p{
    text-align: center;
}
li:hover{
 background-color: black;
 color: white;
}
li:active{
  font-family: 'Courier New', Courier, monospace;
}  
body{
    background-color: #ccd5ae;
}   
li{
    list-style: none;
}
