<!-- adicionar_aluno.html -->
<!DOCTYPE html>
<html>
  <head>
      <title>Adicionar Aluno</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <h1>Adicionar Aluno</h1>
      <form action="/alunos/adicionar" method="post">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required>
          <label for="matricula">Matrícula:</label>
          <input type="text" id="matricula" name="matricula" required>
          <button type="submit">Adicionar</button>
      </form>
      <a href="/alunos">Voltar para a Lista</a>
  </body>
</html>