body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pai {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

button {
  border-radius: 10px;
  font-size: large;
  width: 100px;
  height: 100px;
  /* background-color: blue; */
  color: white;
}
