* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #cad2c5;

}

#conteudo {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    padding: 10px;
}

#name-e-exhibition {
    display: inline-block;
    width: 50%;
}

#nome {
    margin: 10px;
    /* width: 750px; */
}

#nome-completo {
    width: 70%;
    height: 30px;
}

#exibicao {
    margin: 10px;
}

#nome-exibicao {
    width: 70%;
    height: 30px;
}

#pefil {
    float: right;
    margin: 10px 10px;
    margin-right: 10px;
    width: 180px;
    height: 180px;
}

#foto {
    display: none;
}

#label {
    background-color: red;
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
}