.super-mario {
    width: 200px;
    position: absolute ;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute ;
    z-index: 2;
    margin-top: 270px;
    margin-left: 70px;
  }
  
  .baloon {
  margin-left: 580px;
  position: absolute;
  z-index: 3;
  }
  
  .frase {
    position: absolute;
    font-size: 25px;
    margin-left: 590px;
    margin-top: 60px;
    z-index: 4;  
}
  
  .bowser {
   position: absolute;
    width: 200px;
    margin-left: 900px;
    margin-top: 150px;
  }