h1{
    font-size: 65px;
    color: #4169E1	;
    font-family: monospace;
    text-align: center;
    font-style: italic;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
body{
    background-color: #E6E6FA;
    font-size: 16px;
}
li{
    background-color: darkslateblue;
}
#estilo{
    font-style: italic;
}
.coloração{
    color: white;
}