h1{
    font-size: 65px;
    color: orange	;
    font-family: sans-serif;
    font-style: oblique;
    
}
body{
    background-color: #E6E6FA;
    font-size: 16px;
 color: white;
}
li{
    background-color: darkslateblue;
    line-height: 30px;
    text-align: center;
}
.cor-do-fundo{
    background-color: #6A5ACD;
    font-weight: 600;
}
p{
    font-size: 3em;
   text-decoration-color: #8d99ae	;
   text-decoration-line: underline;
   text-decoration-thickness: 3px;
   text-decoration-style: double;
}
#amarelo{
    background-color:	#FFD700;
   
}
#vermelho{
    background-color:  red;
}
#marrom{
    background-color:  sienna;
}